{% extends "main/header.html" %}

{% block content %}
    {% if user.is_authenticated %}

    <div class="position-relative overflow-hidden p-4 p-md-5 m-md-2 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-5">
            <h1 class="display-6">WhatsBusy Premium Membership</h1>
            <p class="lead font-weight-normal">WhatsBusy uses the industry’s most advanced data science to simplify your POS data, clearly telling you what to do, and what it’s worth.
            You can get your free trial today for 7 days, after which you will be charged $49.99 monthly.
            </p>
            {% if not subscription.subscribed %}
                <a class="btn btn-outline-secondary" href="/subscription">Buy Now</a>
            {% else %}
            <a class="btn btn-outline-secondary" href="/subscription">Cancel Current Subscription</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-5">
            <h1 class="display-6">WhatsBusy Premium Membership</h1>
            <p class="lead font-weight-normal">WhatsBusy uses the industry’s most advanced data science to simplify your POS data, clearly telling you what to do, and what it’s worth.
                You can get your free trial today for 7 days, after which you will be charged $49.99 monthly. Register below to get started.
            </p>
            <a class="btn btn-outline-secondary" href="/register">Register</a>
            <br><br>
            Already have an account? <a class="" href="/login">Login</a>
        </div>
        </div>
    {% endif %}
{% endblock %}