<!doctype html>
<html>
<head>
    <title>{% block title %}WhatsBusy Registration{% endblock %}</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="/homepage.css" rel="stylesheet">
    
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">WhatsBusy Premium</a>
        
            <div id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item ">
                    <a class="nav-link active">Welcome {{user.username}}</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %} 
                    <li class="nav-item ">
                    <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="content" name="content"> 
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>