{% extends "main/header.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 style="justify-content: center;align-items: center;display: flex;margin: 20px 0px 20px 0px;">WhatsBusy Registration</h3>
    <div style="display: flex;justify-content: center;align-items: center;">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
{% endblock %}