{% extends "main/header.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	
	<h3 style="justify-content: center;align-items: center;display: flex;margin: 20px 0px 20px 0px;">WhatsBusy Login</h3>
	
	<div style="display: flex;justify-content: center;align-items: center;margin-top: 40px;">
		<form method="post" class="from-group">
			{% csrf_token %}
			{{form|crispy}}
			<p>Don't have an account? Create one <a href="/register">here</a></p>
			<button type="submit" class="btn btn-success">Login</button>	
		</form>
	</div>
{% endblock %}